<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.plat.mapper.IAccountMapper">

	<select id="get" resultType="Account">
		select * from account where id=#{id}
	</select>

	<delete id="del">
		delete from account where id = #{id}
	</delete>

	<select id="gets" resultType="Account">
		SELECT * FROM account WHERE id IN
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
	</select>

	<sql id="maxLimit">
		limit 1000
	</sql>

	<delete id="dels">
		delete from account where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
		<include refid="maxLimit"></include>
	</delete>

	<sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="name!=null">
				name,
			</if>
			<if test="cellphone!=null">
				cellphone,
			</if>
			<if test="password!=null">
				password,
			</if>
			<if test="bindId!=null">
				bind_id,
			</if>
			<if test="status!=null">
				_status,
			</if>
			<if test="pwExpired!=null">
				pw_expired,
			</if>
			<if test="type!=null">
				_type,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="name!=null">
				#{name},
			</if>
			<if test="cellphone!=null">
				#{cellphone},
			</if>
			<if test="password!=null">
				#{password},
			</if>
			<if test="bindId!=null">
				#{bindId},
			</if>
			<if test="status!=null">
				#{status},
			</if>
			<if test="pwExpired!=null">
				#{pwExpired},
			</if>
			<if test="type!=null">
				#{type},
			</if>
		</trim>

		)
	</sql>

	<!-- 注意检查非空和主键自增属性 -->
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert
		into account
		<include refid="insertList"></include>
	</insert>

	<update id="update">
		update account
		<set>
						<if test="name != null ">
				name=#{name},
			</if>
			<if test="cellphone != null ">
				cellphone=#{cellphone},
			</if>
			<if test="password != null ">
				password=#{password},
			</if>
			<if test="bindId != null ">
				bind_id=#{bindId},
			</if>
			<if test="status != null ">
				_status=#{status},
			</if>
			<if test="pwExpired != null ">
				pw_expired=#{pwExpired},
			</if>
			<if test="type != null ">
				_type=#{type},
			</if>

		</set>
		where id = #{id}
	</update>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		<!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
		insert into account
		<include refid="insertList"></include>
		ON DUPLICATE KEY
		UPDATE
		<trim suffixOverrides=",">
						<if test="name != null ">
				name=values(name),
			</if>
			<if test="cellphone != null ">
				cellphone=values(cellphone),
			</if>
			<if test="password != null ">
				password=values(password),
			</if>
			<if test="bindId != null ">
				bind_id=values(bind_id),
			</if>
			<if test="status != null ">
				_status=values(_status),
			</if>
			<if test="pwExpired != null ">
				pw_expired=values(pw_expired),
			</if>
			<if test="type != null ">
				_type=values(_type),
			</if>

		</trim>
	</insert>

	<sql id="queryList">
		select id,name,cellphone,bind_id,_status,pw_expired,_type,create_time,modify_time from
		account
	</sql>

	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND">
						<if test="id != null">
				AND id=#{id}
			</if>
			<if test="name != null">
				AND name=#{name}
			</if>
			<if test="cellphone != null">
				AND cellphone=#{cellphone}
			</if>
			<if test="password != null">
				AND password=#{password}
			</if>
			<if test="bindId != null">
				AND bind_id=#{bindId}
			</if>
			<if test="status != null">
				AND _status=#{status}
			</if>
			<if test="pwExpired != null">
				AND pw_expired=#{pwExpired}
			</if>
			<if test="type != null">
				AND _type=#{type}
			</if>
			<if test="createTime != null">
				AND create_time=#{createTime}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>

		</trim>
	</sql>

	<select id="query" resultType="Account">
		<include refid="queryList"></include>
		<include refid="where"></include>
	</select>

	<select id="queryWithoutPage" resultType="Account">
		<include refid="queryList"></include>
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

	<select id="getIds" resultType="long">
		select id from account
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

</mapper>
