<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.plat.mapper.IElementMedalMapper">

	<select id="get" resultType="ElementMedal">
		select * from element_medal where id=#{id}
	</select>

	<delete id="del">
		delete from element_medal where id = #{id}
	</delete>

	<select id="gets" resultType="ElementMedal">
		SELECT * FROM element_medal WHERE id IN
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
	</select>

	<sql id="maxLimit">
		limit 1000
	</sql>

	<delete id="dels">
		delete from element_medal where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
		<include refid="maxLimit"></include>
	</delete>

	<sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="name!=null">
				name,
			</if>
			<if test="chemical!=null">
				chemical,
			</if>
			<if test="quality!=null">
				quality,
			</if>
			<if test="activeLevel!=null">
				active_level,
			</if>
			<if test="score!=null">
				score,
			</if>
			<if test="needScore!=null">
				need_score,
			</if>
			<if test="des!=null">
				des,
			</if>
			<if test="award!=null">
				award,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="name!=null">
				#{name},
			</if>
			<if test="chemical!=null">
				#{chemical},
			</if>
			<if test="quality!=null">
				#{quality},
			</if>
			<if test="activeLevel!=null">
				#{activeLevel},
			</if>
			<if test="score!=null">
				#{score},
			</if>
			<if test="needScore!=null">
				#{needScore},
			</if>
			<if test="des!=null">
				#{des},
			</if>
			<if test="award!=null">
				#{award},
			</if>
		</trim>

		)
	</sql>

	<!-- 注意检查非空和主键自增属性 -->
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert
		into element_medal
		<include refid="insertList"></include>
	</insert>

	<update id="update">
		update element_medal
		<set>
						<if test="name != null ">
				name=#{name},
			</if>
			<if test="chemical != null ">
				chemical=#{chemical},
			</if>
			<if test="quality != null ">
				quality=#{quality},
			</if>
			<if test="activeLevel != null ">
				active_level=#{activeLevel},
			</if>
			<if test="score != null ">
				score=#{score},
			</if>
			<if test="needScore != null ">
				need_score=#{needScore},
			</if>
			<if test="des != null ">
				des=#{des},
			</if>
			<if test="award != null ">
				award=#{award},
			</if>

		</set>
		where id = #{id}
	</update>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		<!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
		insert into element_medal
		<include refid="insertList"></include>
		ON DUPLICATE KEY
		UPDATE
		<trim suffixOverrides=",">
						<if test="name != null ">
				name=values(name),
			</if>
			<if test="chemical != null ">
				chemical=values(chemical),
			</if>
			<if test="quality != null ">
				quality=values(quality),
			</if>
			<if test="activeLevel != null ">
				active_level=values(active_level),
			</if>
			<if test="score != null ">
				score=values(score),
			</if>
			<if test="needScore != null ">
				need_score=values(need_score),
			</if>
			<if test="des != null ">
				des=values(des),
			</if>
			<if test="award != null ">
				award=values(award),
			</if>

		</trim>
	</insert>

	<sql id="queryList">
		select id,name,chemical,quality,active_level,score,need_score,des,award,modify_time from
		element_medal
	</sql>

	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND">
						<if test="id != null">
				AND id=#{id}
			</if>
			<if test="name != null">
				AND name=#{name}
			</if>
			<if test="chemical != null">
				AND chemical=#{chemical}
			</if>
			<if test="quality != null">
				AND quality=#{quality}
			</if>
			<if test="activeLevel != null">
				AND active_level=#{activeLevel}
			</if>
			<if test="score != null">
				AND score=#{score}
			</if>
			<if test="needScore != null">
				AND need_score=#{needScore}
			</if>
			<if test="des != null">
				AND des=#{des}
			</if>
			<if test="award != null">
				AND award=#{award}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>

		</trim>
	</sql>

	<select id="query" resultType="ElementMedal">
		<include refid="queryList"></include>
		<include refid="where"></include>
	</select>

	<select id="queryWithoutPage" resultType="ElementMedal">
		<include refid="queryList"></include>
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

	<select id="getIds" resultType="long">
		select id from element_medal
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

</mapper>
