<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.plat.mapper.IJobMapper">

    <select id="get" resultType="Job">
		select * from job where id=#{id}
	</select>

    <delete id="del">
		delete from job where id = #{id}
	</delete>

    <select id="gets" resultType="Job">
        SELECT * FROM job WHERE id IN
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
    </select>

    <sql id="maxLimit">
		limit 1000
	</sql>

    <delete id="dels">
        delete from job where id in
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
        <include refid="maxLimit"></include>
    </delete>

    <sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="system!=null">
				_system,
			</if>
			<if test="status!=null">
				_status,
			</if>
			<if test="triggerType!=null">
				trigger_type,
			</if>
			<if test="triggerExpression!=null">
				trigger_expression,
			</if>
			<if test="name!=null">
				name,
			</if>
			<if test="taskType!=null">
				task_type,
			</if>
			<if test="task!=null">
				_task,
			</if>
			<if test="des!=null">
				des,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="system!=null">
				#{system},
			</if>
			<if test="status!=null">
				#{status},
			</if>
			<if test="triggerType!=null">
				#{triggerType},
			</if>
			<if test="triggerExpression!=null">
				#{triggerExpression},
			</if>
			<if test="name!=null">
				#{name},
			</if>
			<if test="taskType!=null">
				#{taskType},
			</if>
			<if test="task!=null">
				#{task},
			</if>
			<if test="des!=null">
				#{des},
			</if>
		</trim>

		)
	</sql>

    <!-- 注意检查非空和主键自增属性 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert
        into job
        <include refid="insertList"></include>
    </insert>

    <update id="update">
        update job
        <set>
            			<if test="system != null ">
				_system=#{system},
			</if>
			<if test="status != null ">
				_status=#{status},
			</if>
			<if test="triggerType != null ">
				trigger_type=#{triggerType},
			</if>
			<if test="triggerExpression != null ">
				trigger_expression=#{triggerExpression},
			</if>
			<if test="name != null ">
				name=#{name},
			</if>
			<if test="taskType != null ">
				task_type=#{taskType},
			</if>
			<if test="task != null ">
				_task=#{task},
			</if>
			<if test="des != null ">
				des=#{des},
			</if>

        </set>
        where id = #{id}
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
        insert into job
        <include refid="insertList"></include>
        ON DUPLICATE KEY
        UPDATE
        <trim suffixOverrides=",">
            			<if test="system != null ">
				_system=values(_system),
			</if>
			<if test="status != null ">
				_status=values(_status),
			</if>
			<if test="triggerType != null ">
				trigger_type=values(trigger_type),
			</if>
			<if test="triggerExpression != null ">
				trigger_expression=values(trigger_expression),
			</if>
			<if test="name != null ">
				name=values(name),
			</if>
			<if test="taskType != null ">
				task_type=values(task_type),
			</if>
			<if test="task != null ">
				_task=values(_task),
			</if>
			<if test="des != null ">
				des=values(des),
			</if>

        </trim>
    </insert>

    <sql id="queryList">
		select id,_system,_status,trigger_type,trigger_expression,name,task_type,_task,des,modify_time,create_time from
		job
	</sql>

    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="AND">
            			<if test="id != null">
				AND id=#{id}
			</if>
			<if test="system != null">
				AND _system=#{system}
			</if>
			<if test="status != null">
				AND _status=#{status}
			</if>
			<if test="triggerType != null">
				AND trigger_type=#{triggerType}
			</if>
			<if test="triggerExpression != null">
				AND trigger_expression=#{triggerExpression}
			</if>
			<if test="name != null">
				AND name=#{name}
			</if>
			<if test="taskType != null">
				AND task_type=#{taskType}
			</if>
			<if test="task != null">
				AND _task=#{task}
			</if>
			<if test="des != null">
				AND des=#{des}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>
			<if test="createTime != null">
				AND create_time=#{createTime}
			</if>

        </trim>
    </sql>

    <select id="query" resultType="Job">
        <include refid="queryList"></include>
        <include refid="where"></include>
    </select>

    <select id="queryWithoutPage" resultType="Job">
        <include refid="queryList"></include>
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

    <select id="queryOne" resultType="Account">
        select * from job
        <include refid="where"></include>
        limit 1
    </select>

    <select id="getIds" resultType="long">
        select id from job
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

</mapper>
