<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.plat.mapper.IMsgMapper">

    <select id="get" resultType="Msg">
		select * from msg where id=#{id}
	</select>

    <delete id="del">
		delete from msg where id = #{id}
	</delete>

    <select id="gets" resultType="Msg">
        SELECT * FROM msg WHERE id IN
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
    </select>

    <sql id="maxLimit">
		limit 1000
	</sql>

    <delete id="dels">
        delete from msg where id in
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
        <include refid="maxLimit"></include>
    </delete>

    <delete id="delByCondition">
        delete from msg
        <include refid="where"></include>
    </delete>

    <sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="content!=null">
				content,
			</if>
			<if test="type!=null">
				_type,
			</if>
			<if test="title!=null">
				title,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="content!=null">
				#{content},
			</if>
			<if test="type!=null">
				#{type},
			</if>
			<if test="title!=null">
				#{title},
			</if>
		</trim>

		)
	</sql>

    <!-- 注意检查非空和主键自增属性 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert
        into msg
        <include refid="insertList"></include>
    </insert>

    <update id="update">
        update msg
        <set>
            			<if test="content != null ">
				content=#{content},
			</if>
			<if test="type != null ">
				_type=#{type},
			</if>
			<if test="title != null ">
				title=#{title},
			</if>

        </set>
        where id = #{id}
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
        insert into msg
        <include refid="insertList"></include>
        ON DUPLICATE KEY
        UPDATE
        <trim suffixOverrides=",">
            			<if test="content != null ">
				content=values(content),
			</if>
			<if test="type != null ">
				_type=values(_type),
			</if>
			<if test="title != null ">
				title=values(title),
			</if>

        </trim>
    </insert>

    <sql id="queryList">
		select id,content,_type,modify_time,title from
		msg
	</sql>

    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="AND">
            			<if test="id != null">
				AND id=#{id}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>
			<if test="content != null">
				AND content=#{content}
			</if>
			<if test="type != null">
				AND _type=#{type}
			</if>
			<if test="title != null">
				AND title=#{title}
			</if>

        </trim>
    </sql>

    <select id="query" resultType="Msg">
        <include refid="queryList"></include>
        <include refid="where"></include>
    </select>

    <select id="queryWithoutPage" resultType="Msg">
        <include refid="queryList"></include>
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

    <select id="queryOne" resultType="Msg">
        select * from msg
        <include refid="where"></include>
        limit 1
    </select>

    <select id="has" resultType="int">
        select 1 from msg
        <include refid="where"></include>
        limit 1
    </select>

    <select id="count" resultType="int">
        select count(*) from msg
        <include refid="where"></include>
    </select>

    <select id="getIds" resultType="long">
        select id from msg
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

</mapper>
