<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.plat.mapper.IAccountThirdOpenMapper">

	<select id="get" resultType="AccountThirdOpen">
		select * from account_third_open where id=#{id}
	</select>

	<delete id="del">
		delete from account_third_open where id = #{id}
	</delete>

	<select id="gets" resultType="AccountThirdOpen">
		SELECT * FROM account_third_open WHERE id IN
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
	</select>

	<sql id="maxLimit">
		limit 1000
	</sql>

	<delete id="dels">
		delete from account_third_open where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
		<include refid="maxLimit"></include>
	</delete>

	<sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="openId!=null">
				open_id=#{openId},
			</if>
			<if test="customerId!=null">
				customer_id=#{customerId},
			</if>
			<if test="coacherId!=null">
				coacher_id=#{coacherId},
			</if>
			<if test="shopManageId!=null">
				shop_manage_id=#{shopManageId},
			</if>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="type!=null">
				_type=#{type},
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="openId!=null">
				#{openId},
			</if>
			<if test="customerId!=null">
				#{customerId},
			</if>
			<if test="coacherId!=null">
				#{coacherId},
			</if>
			<if test="shopManageId!=null">
				#{shopManageId},
			</if>
			<if test="name!=null">
				#{name},
			</if>
			<if test="type!=null">
				#{type},
			</if>
		</trim>

		)
	</sql>

	<!-- 注意检查非空和主键自增属性 -->
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert
		into account_third_open
		<include refid="insertList"></include>
	</insert>

	<update id="update">
		update account_third_open
		<set>
						<if test="openId != null ">
				open_id=#{openId},
			</if>
			<if test="customerId != null ">
				customer_id=#{customerId},
			</if>
			<if test="coacherId != null ">
				coacher_id=#{coacherId},
			</if>
			<if test="shopManageId != null ">
				shop_manage_id=#{shopManageId},
			</if>
			<if test="name != null ">
				name=#{name},
			</if>
			<if test="type != null ">
				_type=#{type},
			</if>

		</set>
		where id = #{id}
	</update>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		<!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
		insert into account_third_open
		<include refid="insertList"></include>
		ON DUPLICATE KEY
		UPDATE
		<trim suffixOverrides=",">
						<if test="openId != null ">
				open_id=values(open_id),
			</if>
			<if test="customerId != null ">
				customer_id=values(customer_id),
			</if>
			<if test="coacherId != null ">
				coacher_id=values(coacher_id),
			</if>
			<if test="shopManageId != null ">
				shop_manage_id=values(shop_manage_id),
			</if>
			<if test="name != null ">
				name=values(name),
			</if>
			<if test="type != null ">
				_type=values(_type),
			</if>

		</trim>
	</insert>

	<sql id="queryList">
		select id,name,open_id,customer_id,coacher_id,_type,shop_manage_id,create_time,modify_time from
		account_third_open
	</sql>

	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND">
						<if test="id != null">
				AND id=#{id}
			</if>
			<if test="openId != null">
				AND open_id=#{openId}
			</if>
			<if test="customerId != null">
				AND customer_id=#{customerId}
			</if>
			<if test="coacherId != null">
				AND coacher_id=#{coacherId}
			</if>
			<if test="shopManageId != null">
				AND shop_manage_id=#{shopManageId}
			</if>
			<if test="name != null">
				AND name=#{name}
			</if>
			<if test="type != null">
				AND _type=#{type}
			</if>
			<if test="createTime != null">
				AND create_time=#{createTime}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>

		</trim>
	</sql>

	<select id="query" resultType="AccountThirdOpen">
		<include refid="queryList"></include>
		<include refid="where"></include>
	</select>

	<select id="queryWithoutPage" resultType="AccountThirdOpen">
		<include refid="queryList"></include>
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

	<select id="getIds" resultType="long">
		select id from account_third_open
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

</mapper>
