<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.plat.mapper.IJobInstanceMapper">

	<select id="get" resultType="JobInstance">
		select * from job_instance where id=#{id}
	</select>

	<delete id="del">
		delete from job_instance where id = #{id}
	</delete>

	<select id="gets" resultType="JobInstance">
		SELECT * FROM job_instance WHERE id IN
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
	</select>

	<sql id="maxLimit">
		limit 1000
	</sql>

	<delete id="dels">
		delete from job_instance where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
		<include refid="maxLimit"></include>
	</delete>

	<sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="jobId!=null">
				job_id=#{jobId},
			</if>
			<if test="status!=null">
				_status=#{status},
			</if>
			<if test="params!=null">
				params=#{params},
			</if>
			<if test="customParams!=null">
				custom_params=#{customParams},
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="jobId!=null">
				#{jobId},
			</if>
			<if test="status!=null">
				#{status},
			</if>
			<if test="params!=null">
				#{params},
			</if>
			<if test="customParams!=null">
				#{customParams},
			</if>
		</trim>

		)
	</sql>

	<!-- 注意检查非空和主键自增属性 -->
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert
		into job_instance
		<include refid="insertList"></include>
	</insert>

	<update id="update">
		update job_instance
		<set>
						<if test="jobId != null ">
				job_id=#{jobId},
			</if>
			<if test="status != null ">
				_status=#{status},
			</if>
			<if test="params != null ">
				params=#{params},
			</if>
			<if test="customParams != null ">
				custom_params=#{customParams},
			</if>

		</set>
		where id = #{id}
	</update>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		<!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
		insert into job_instance
		<include refid="insertList"></include>
		ON DUPLICATE KEY
		UPDATE
		<trim suffixOverrides=",">
						<if test="jobId != null ">
				job_id=values(job_id),
			</if>
			<if test="status != null ">
				_status=values(_status),
			</if>
			<if test="params != null ">
				params=values(params),
			</if>
			<if test="customParams != null ">
				custom_params=values(custom_params),
			</if>

		</trim>
	</insert>

	<sql id="queryList">
		select id,job_id,_status,params,create_time,modify_time from
		job_instance
	</sql>

	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND">
						<if test="id != null">
				AND id=#{id}
			</if>
			<if test="jobId != null">
				AND job_id=#{jobId}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>
			<if test="status != null">
				AND _status=#{status}
			</if>
			<if test="params != null">
				AND params=#{params}
			</if>
			<if test="customParams != null">
				AND custom_params=#{customParams}
			</if>
			<if test="createTime != null">
				AND create_time=#{createTime}
			</if>

		</trim>
	</sql>

	<select id="query" resultType="JobInstance">
		<include refid="queryList"></include>
		<include refid="where"></include>
	</select>

	<select id="queryWithoutPage" resultType="JobInstance">
		<include refid="queryList"></include>
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

	<select id="getIds" resultType="long">
		select id from job_instance
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

</mapper>
